html, body{
  height: 100%;
  color: #fff;
}

body {
  background-attachment: fixed;
  background-color: #000;
  background-image: url("../images/bg.jpg"); /* The image used */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.msg{
  text-align: center;
  margin: 15% 45% 0 0;
}


/*dynamically created elements*/
/* h3{
  margin: 0 auto;
  position: absolute;
  left: 50%;
} */

