<!DOCTYPE html>
<html lang="en">
  <head>
<!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Site title -->
    <title>Express Intro Lab</title>
    <base href="/">
<!-- Bootstrap css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Application css -->
    <link rel="stylesheet" href="styles/styles.css">
<!-- jQuery script (v2.2.2)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!-- Application Scripts -->
    <script src="scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Under Construction</h1>
    </div>
    <div class="msg"></div>
  </body>
</html>